.samsung_tc {
  .card {
    &.loading {
      .card-body {
        border-radius: 20px;
      }
    }
    &:not(.loading) {
      background-color: transparent;
      .card {
        &-body {
          padding: 12px 0;
        }
        &-meta {
          &-description {
            text-align: left;
            font-size: 12px;
            background: #fff;
            padding: 15px 18px 15px;
            border-radius: 20px;
            .content {
              p {
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
