html,
body {
  position: relative;
  height: 100%;
}
p{
  margin: 0;
}
@mixin AlignItem($alignItem, $justifyContent){
  display: flex;
  align-items: $alignItem;
  justify-content: $justifyContent;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  @include AlignItem(center, center);
  .wrapper-container{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include AlignItem(center, center);
  }
  &-content{
    .content{
      &-title{
        text-transform: capitalize;
      }
      &-subtitle{
        margin: 5% 0;
      }
    }
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}