@model Glviangle.WebApp.Models.BlogModel.BlogVM
@{ 
	var blogs = Model.listBlog;
	var imagePath = "https://cloud.squidex.io/api/assets/glviangle";
}
	<section class="blog-home sec-padding blog-page">
		<div class="container">
			<div class="row">
				<div class="col-md-8 pull-left">

					@foreach(var blog in blogs)
					{
						<div class="single-blog-post">
						<div class="img-box">
							<img src="@imagePath/@blog.Data.banner[0]" alt="">
							<div class="overlay">
								<div class="box">
									<div class="content">
										<ul>
											<li><a href="/blogs/@blog.Id"><i class="fa fa-link"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="content-box">
							<div class="date-box">
								<div class="inner">
									<div class="date">
										@Html.Raw(blog.Data.dateCreate)
									</div>
									<div class="comment">
										<i class="flaticon-interface-1"></i> 8
									</div>
								</div>
							</div>
							<div class="content">
								<a href="/blogs/@blog.Id"><h3>@blog.Data.title</h3></a>
								<p>@blog.Data.description</p>
								<span>Tag: <a href="blog-details.html">doctor, medicine</a></span>
							</div>
						</div>
					</div>
					}
					
					<ul class="page-navigation">
						<li><a href=""><i class="fa fa-angle-left"></i></a></li>
						<li><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href=""><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
				<div class="col-md-4 pull-right">
					<div class="side-bar-widget">
						<div class="single-sidebar-widget search">
							<form action="#">
								<input type="text" placeholder="Search">
								<button type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
						<div class="single-sidebar-widget category">
							<h3 class="title">Catagories</h3>
							<ul>
								<li><a href="#">Heart</a></li>
								<li><a href="#">Cardiology</a></li>
								<li><a href="#">Patient</a></li>
								<li><a href="#">Dental</a></li>
								<li><a href="#">Leaser</a></li>
							</ul>
						</div>
						<div class="single-sidebar-widget popular-post">
							<h3 class="title">Popular Posts</h3>
							<ul>
								<li>
									<div class="img-box">
										<div class="inner-box">
											<img src="img/blog-page/s1.jpg" alt="">
										</div>
									</div>
									<div class="content-box">
										<a href="#"><h4>Lorem Ipsum is simply dumm textand somthing more here</h4></a>
										<span>17 jun, 2015</span>
									</div>
								</li>
								<li>
									<div class="img-box">
										<div class="inner-box">
											<img src="img/blog-page/s2.jpg" alt="">
										</div>
									</div>
									<div class="content-box">
										<a href="#"><h4>Lorem Ipsum is simply dumm textand somthing more here</h4></a>
										<span>17 jun, 2015</span>
									</div>
								</li>
								<li>
									<div class="img-box">
										<div class="inner-box">
											<img src="img/blog-page/s3.jpg" alt="">
										</div>
									</div>
									<div class="content-box">
										<a href="#"><h4>Lorem Ipsum is simply dumm textand somthing more here</h4></a>
										<span>17 jun, 2015</span>
									</div>
								</li>
								<li>
									<div class="img-box">
										<div class="inner-box">
											<img src="img/blog-page/s4.jpg" alt="">
										</div>
									</div>
									<div class="content-box">
										<a href="#"><h4>Lorem Ipsum is simply dumm textand somthing more here</h4></a>
										<span>17 jun, 2015</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="single-sidebar-widget archive">
							<h3 class="title">Archive</h3>
							<ul>
								<li><a href="#">October 2015</a></li>
								<li><a href="#">November 2015</a></li>
								<li><a href="#">December 2015</a></li>
								<li><a href="#">January 2016</a></li>
								<li><a href="#">February 2016</a></li>
							</ul>
						</div>						
						<div class="single-sidebar-widget tags">
							<h3 class="title">Keywords</h3>
							<ul>
								<li><a href="#">Heart</a></li>
								<li><a href="#">Cardiology</a></li>
								<li><a href="#">Patient</a></li>
								<li><a href="#">Dental</a></li>
								<li><a href="#">Leaser</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
