$dark-grey: #222222;
$color-success: #52c41a;
$color-warning: #ffc107;
$color-error: #ff5656;
$zoom: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);

#notification {
  position: fixed;
  transition: 0.5s;
  z-index: 9999;
  width: 100%;
  .message {
    position: relative;
    top: 0;
    animation: fistLoad 0.5s;
    &-notice {
      padding: 8px;
      text-align: center;
      &-content {
        display: inline-block;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px 16px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
          0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        pointer-events: all;
        span.msg {
          @media (max-width: 600px) {
            font-size: 14px;
            color: #000 !important;
          }
        }
        .icon {
          padding-right: 5px;
          i {
            &:not(.loading) {
              transform: scale(0);
              transition: $zoom;
            }
          }
          &.success {
            i.success {
              color: $color-success;
              transform: scale(1);
            }
          }
          &.warning {
            i.warning {
              color: $color-warning;
              transform: scale(1);
            }
          }
          &.error {
            i.error {
              color: $color-error;
              transform: scale(1);
            }
          }
          &.loading {
            i.loading {
              color: #000;
              animation: loadingCircle 1s linear infinite;
            }
          }
        }
      }
    }
    &-custom-content {
      display: flex;
      align-items: center;
    }
  }
}

@keyframes loadingCircle {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes fistLoad {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
