section.homepageMAZ
  .homepageMAZ-container
    .title.--title 
      h2 khám bệnh A - Z
    .description.--description 
      p Khám phá các bài báo và hướng dẫn sức khỏe toàn diện về các bệnh và tình trạng y tế