.block{
  &-promotion{
    &-container{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
    }
    .group-item{
      padding: 0 5%;
    }
    &-item{
      width: 30%;      
      .custom-button.nobg{
        padding: 0;
        text-align: left;
        margin-top: 20%;
        margin-bottom: 6%;
      }
      .item{
        &-image{
          border-radius: 15px;
          img{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
          }
        }
        &-title{
          margin: 7% 0;
          h4{
            color: #00769e;
          }
        }
        &-information{
          margin: 5% 0;
          color: #07a3a8;
          i, span{
  
          }
          i{
            margin-right: 4%;
          }
          .calendar{
            
          }
          .place{
            
          }
        }
      }
    }
  }
 
}