.footer_page {
  font-size: 11px;
  margin-top: 15px;
  padding: 10px 5px 15px;
  p {
    color: #4b4b4b;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7;
    margin-top: 0;
    a {
      color: #4b4b4b;
    }
  }
}
