div.footer_page
  p
    a(href="/faq") FAQ |
    a(href="/terms-and-conditions") &nbsp;Terms & Conditions |
    a(href="/privacy-policy") &nbsp;Privacy Policy
    <br/>Copyright © 2010 - 2020 SAMSUNG All rights reserved.
