
	<section class="sec-padding contact-content appointment-content">
		<script type="text/javascript" src="~/validated/bookingValidate.js"></script>
		<div class="container">
			<img src="img/resources/appointment.jpg" alt="Awesome Image"/>
			<div class="title-box">
				<h3>ĐẶT LỊCH NGAY</h3>
				<p>Bạn muốn đặt lịch khám bệnh trực tiếp tại bệnh viện. Hãy điền đầy đủ thông tin bên dưới</p>				
			</div>
			@using (Html.BeginForm("Post", "Booking", FormMethod.Post, new {@id="appointment-page-form", @class="contact-form row" }))
			{ 
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-6">
							<input type="text" name="name" id="name" placeholder="Họ và tên">
							<input type="text" placeholder="Ngày đặt" id="date" name="date" class="date-picker">
							<input type="text" name="phone" id="phone" placeholder="Số điện thoại">
						</div>
						<div class="col-md-6">
							<input type="text" name="email" id="email" placeholder="Email">
							<div class="select-input-wrapper">
								<select class="select-input" id="category" name="category">
									<option value="" selected="selected">Chọn dịch vụ</option>
									<option value="General Motors">Primary Health Care</option>
									<option value="Land Rover">Dental Care</option>
									<option value="Lexus">Neurology</option>
									<option value="Lincoln">Kidney Treatment</option>
									<option value="Lincoln">Eye Treatment</option>
								</select>
							</div>
							<div class="clearfix half-wrapper">
								<div class="col-md-6 p0 half">
									<div class="select-input-wrapper">
										<select class="select-input" id="gender" name="gender">
											<option value="" selected="selected">Chọn giới tính</option>
											<option value="nam">Nam</option>
											<option value="nu">Nữ</option>
										</select>
									</div>										
								</div>
								<div class="col-md-6 p0 half">
									<input type="text" id="dateOfBirth" placeholder="Ngày sinh" name="dateOfBirth" class="date-picker">
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-5">
					<textarea name="message" placeholder="Tin nhắn" cols="30" rows="10"></textarea>
				</div>
				<div class="col-md-12"><button onclick="validateFormBooking();" type="submit">Đặt lịch ngay</button></div>
			}

				

		</div>
	</section>
	