//- Google Load
script(async='' src='https://www.googletagmanager.com/gtag/js?id=AW-951811384') 
//- update new id gg
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-951811384'); // update new id gg

//- Google Click
script.
  function gtag_report_conversion(url) {
    if(window.logger){
      window.logger.log('gtag_report_conversion')
    }
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
      'send_to': 'AW-951811384/B6e2CJCO5rQBELj67cUD',
      'transaction_id': '',
      'event_callback': callback
    });
    return false
  }

//- FB Load
script.
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2207833089481792'); // update new id fb
  fbq('track', 'PageView');
noscript
  img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=2207833089481792&ev=PageView&noscript=1')

//- FB Click
script.
  function onClickFB(){
    if(window.logger){
      window.logger.log('onClickFB')
    }
    fbq('track', 'PageView');
    fbq('track', 'Purchase');
    //- Fill code in here 
  }

  function onClick_MediaTags(){
    gtag_report_conversion();
    onClickFB();
  }