$gray4b: #4b4b4b;
body {
  color: $black-100;
  font-family: "SamsungOne";
  margin: 0;
  padding: 0;
  & > iframe {
    display: none;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    color: $gray4b;
    font-family: "SamsungOne";
    margin-bottom: 0;
  }
  img {
    width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "iCielSamsungSharpSans-Bold";
    margin: 0;
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  .main-footer .footer-section.footer-bottom a {
    &:hover {
      color: #fff;
    }
  }
  .price {
    @include dis-iblock(inline-block, text-bottom);
    position: relative;
    sup {
      font-size: 70%;
      line-height: 1;
      vertical-align: super;
    }
  }

  .gradient-price,
  .text-gradient {
    background: $gradient-background;
    background: $gradient-color-90;
    -webkit-background-clip: text;
    color: $transparent;
    // background-clip: text;
  }
}

#samsung {
  background: #f2f2f2;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  text-align: center;
  max-width: 800px;
  &.browser-ie {
    overflow-x: hidden;
    .gradient-price {
      background: $transparent;
      color: $black-100;
    }
  }
  .common-title {
    font-size: map-get($font-title, "dks");
    @each $name, $glyph in $break-points {
      @media (max-width: $glyph) {
        font-size: map-get($font-title, $name);
      }
    }
  }

  .common-description {
    font-size: map-get($font-description, "dks");
    @each $name, $glyph in $break-points {
      @media (max-width: $glyph) {
        font-size: map-get($font-description, $name);
      }
    }
  }
  .fixed {
    background-color: #fff;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 200;
  }
  .btn {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "SamsungOne";
    appearance: none;
    background: #6ed2f3;
    border: none;
    border-radius: 22px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    margin: auto;
    padding: 10px 35px;
    width: fit-content;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    @media screen and (max-width: 320px) {
      border-radius: 20px;
      height: 40px;
    }
  }
  .form-submit {
    &__input {
      label.label {
        margin-bottom: 5px;
        font-size: 12px;
      }
    }
  }
}

.hide-md {
  display: none !important;
}
@media (max-width: 991px) {
  .hide-md {
    display: block !important;
  }
  .hide-sm {
    display: none !important;
  }
}

.error-message.is-error {
  color: red !important;
}

.sub_wrap {
  font-size: 12px;
  margin: 25px auto 0;
  max-width: 800px;
  font-weight: 400;
  h3 {
    font-size: 20px;
    line-height: 1.2;
    & ~ p {
      color: $gray4b;
      font-size: 13px;
      margin: auto;
      width: 90%;
    }
  }
  h4 {
    color: #707070;
    font-size: 100%;
  }
}
@media screen and (max-width: 812px) {
  .sub_wrap {
    max-width: 500px;
  }
}
@media screen and (max-width: 320px) {
  .sub_wrap h3 {
    font-size: 15px;
  }
}
hr {
  border: none;
  border-bottom: 1px solid #bebebe;
  width: 100%;
}
.bg_white {
  background: #fff !important;
}
.rounded {
  border-radius: 20px;
  padding: 10px 20px;
}
.row {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  .col {
    box-sizing: border-box;
    margin: 0 5px;
  }
  .col_1 {
    margin: 0;
    width: 100%;
  }
  .col_2 {
    width: calc(50% - 10px);
  }
  .col_3 {
    width: calc(33.3333% - 10px);
  }
}
.thumb_con {
  margin: 0 auto 8px;
}
.info_con {
  color: $gray4b;
  position: relative;
}
.reward_info {
  flex-direction: column;
  margin-top: 15px;
  padding: 10px 20px;
  .col {
    padding: 10px 20px;
  }
  .thumb_con {
    width: 68px;
  }
  .info_con {
    .info_ttl {
      font-size: 15px;
      font-weight: bold;
    }
    p {
      margin-top: 2px;
    }
  }
}
.reward_info_2 {
  flex-direction: row;
  margin: 12px 0;
  padding: 0 10px;
  text-align: left;
  .thumb_con {
    width: 80%;
  }
  .info_con p {
    margin-top: 5px;
  }
}
.reward_friend {
  flex-direction: column;
  padding: 30px 20px;
  h3 {
    margin-bottom: 5px;
  }
  p {
    color: #707070;
    margin: 10px 0 0;
    a {
      color: #707070;
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: 320px) {
  .reward_info_2 {
    .col {
      padding: 15px 10px !important;
    }
    .thumb_con {
      width: 60%;
    }
  }
  .reward_friend {
    padding: 30px 15px;
    h3 {
      margin-bottom: 0;
    }
    p {
      margin: 5px 0 0;
    }
  }
}

.refer_friend {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #6ed2f3;
  border: none;
  border-radius: 22px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-size: 14px;
  height: 44px;
  margin: auto;
  padding: 10px 35px;
  width: fit-content;
  font-weight: 700;
}
.tc_container {
  color: #888;
  margin: auto;
  text-align: left;
  width: 92%;
  .conditions_ttl {
    font-size: 13px;
    font-weight: bold;
  }
  .conditions_2_ttl {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 -9px;
  }
  p {
    color: #888;
    a {
      color: #888;
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: 320px) {
  .refer_friend {
    border-radius: 20px;
    height: 40px;
  }
}
@media screen and (max-width: 1024px) {
  #samsung {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  .row {
    .col_2 {
      margin: 0 0;
      width: 100%;
    }
  }
  .reward_info_2 {
    flex-direction: row;
    padding: 0 10px;
    text-align: left;
    .col_2 {
      margin: 0 5px;
      padding: 15px;
      width: calc(50% - 10px);
    }
  }
  .galaxy_fan {
    flex-direction: row;
    font-size: 92%;
    margin: 10px auto 0;
    text-align: left;
    width: calc(92% + 6px);
    .thumb_con {
      margin-bottom: 5px;
      width: 70%;
    }
    .rounded {
      margin: 0 3px;
      padding: 15px 7px;
      width: calc(33.33333% - 6px);
    }
    p {
      color: $gray4b;
    }
  }
}
.frm_group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  text-align: center;
  label {
    color: #707070;
    margin-bottom: 5px;
    text-align: left;
    &.lb_sticky {
      font-size: 9px;
      margin: 5px 15px -2px;
    }
  }
  &.prefix {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    .prefix-addon {
      width: 15%;
      color: #000;
      height: 44px;
      background: #dcdcdc;
      display: block;
      line-height: 44px;
      border-top-left-radius: 22px;
      border-bottom-left-radius: 22px;
    }
    input {
      width: 85%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  border: none;
  border-radius: 22px;
  box-sizing: border-box;
  color: #666;
  font-family: "SamsungOne";
  font-size: 14px;
  height: 44px;
  line-height: normal;
  padding: 5px 20px;
  width: 100%;
  &:focus {
    outline: none;
  }
}
@media screen and (max-width: 320px) {
  input {
    border-radius: 19px;
    font-size: 13px;
    height: 38px;
    padding: 2px 16px;
  }
}

/* button submit_next */
.btn_submit {
  background: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  color: #707070;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 20px;
  padding: 0 18px 0 0;
  position: relative;
  width: fit-content;
  outline: none;
  &:before,
  &:after {
    border-right: 2px solid #707070;
    border-top: 2px solid #707070;
    box-sizing: border-box;
    content: "";
    height: 6.5px;
    position: absolute;
    right: 2px;
    top: 5px;
    transform: rotate(45deg);
    width: 6.5px;
  }
  &:before {
    right: 8px;
  }
  &.loading {
    color: transparent;
    border-bottom: 0;
    &::before {
      display: block;
      width: 20px;
      height: 20px;
      top: 0;
      left: 25%;
      border: 1px solid #555;
      border-bottom: 0;
      border-radius: 50%;
      animation: loadingCircle 0.8s linear infinite;
    }
    &::after {
      display: none;
    }
  }
}
@keyframes loadingCircle {
  100% {
    transform: rotate(1turn);
  }
}
/* END button submit_next */

/* style checkbox */
.checkmarker {
  align-items: flex-start;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 11px;
  letter-spacing: -0.4px;
  margin: 8px 0 16px !important;
  padding-left: 30px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
    &:checked ~ .checkmark {
      background-color: #2196f3;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark:after {
    border: solid white;
    border-width: 0 2px 2px 0;
    height: 9px;
    left: 6px;
    top: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 4px;
  }
  p {
    margin-top: 0;
  }
}
@media screen and (max-width: 320px) {
  .checkmarker p {
    font-size: 12px;
  }
}

/* Create a custom checkbox */
.checkmark {
  background-color: #f2f2f2;
  border-radius: 3px;
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
  &:after {
    content: "";
    display: none;
    position: absolute;
  }
}
/* END style checkbox */

.js-sticky {
  position: relative;
}

/* custom select */
.custom-select {
  font-size: 14px;
  position: relative;
  text-align: left;
  width: 100%;
  select {
    display: none;
  }
  .select-selected {
    align-items: center;
    background: #f2f2f2;
    border: none;
    border-radius: 22px;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    display: flex;
    height: 44px;
    justify-content: space-between;
    padding: 5px 20px;
    text-transform: capitalize;
    transition: 0.4s;
    user-select: none;
    &:before,
    &:after {
      border-top: 1px solid #555;
      content: "";
      display: block;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: rotate(135deg);
      transition: 0.4s;
      width: 12px;
    }
    &:after {
      right: 24px;
      transform: rotate(-135deg);
    }
    &.select-arrow-active {
      border-radius: 22px 22px 0 0;
      transition: 0.4s;
      &:before {
        transform: rotate(45deg);
        transition: 0.4s;
      }
      &:after {
        transform: rotate(-45deg);
        transition: 0.4s;
      }
    }
  }
  .select-items {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    background: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 0 0 20px 20px;
    border-top: none;
    box-shadow: 0 1px 2px #cecece;
    left: 0;
    max-height: 190px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99;
    div {
      align-items: center;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      color: #666;
      cursor: pointer;
      display: flex;
      height: 38px;
      padding: 5px 20px;
      user-select: none;
      &:last-child {
        border-radius: 0 0 20px 20px;
      }
      &.over-days {
        display: none;
      }
    }
    &.select-hide {
      animation-name: fadeOutUp;
    }
  }
  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0.5;
    transform: translateY(-50%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
  100% {
    opacity: 0.5;
    transform: translateY(-50%) scaleY(0);
  }
}
@media screen and (max-width: 320px) {
  .custom-select {
    font-size: 13px;
    height: 38px;
    .select-selected {
      border-radius: 19px;
      height: 38px;
      padding: 2px 16px;
      &:before,
      &:after {
        right: 12px;
        width: 10px;
      }
      &:after {
        right: 19px;
      }
    }
    .select-items div {
      height: 31.6666px;
    }
  }
}
/* END custom select */

.sticky_content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px #999;
  box-sizing: border-box;
  color: $gray4b;
  font-size: 11px;
  left: 0;
  padding: 10px 12px;
  position: absolute;
  text-align: center;
  width: 240px;
  z-index: 9;
}

/* My Rewards */
.my_rewards_container {
  color: #333;
  margin-top: 10px;
  padding: 25px 20px;
  text-align: left;
  .refer_friend {
    float: left;
    margin-bottom: 10px;
  }
}
.rewards_info {
  color: $gray4b;
  margin-top: 20px;
  .rewards_ttl {
    font-size: 18px;
  }
  .rewards_points {
    color: #6ed2f3;
    display: inline-block;
    font-size: 165%;
    margin-top: 1px;
  }
  p {
    line-height: 1;
    margin: 4px 0;
  }
}
.rewards_list_off {
  font-size: 85%;
  margin-bottom: 15px;
}
/* END My Rewards */

/* widget Blog */
.blog_item {
  margin-top: 10px;
  // padding: 15px;
  padding: 25px;
  .content {
    display: flex;
    text-align: left;
    .blog_img {
      // margin-right: 15px;
      // width: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .rewards_info {
    font-size: 110%;
    // margin-top: 0;
    margin-top: 4%;
  }
  .refer_friend {
    height: 36px;
    margin: 5px 0 0;
    // padding: 5px 25px;
    padding: 24px 45px;
  }
  .blog_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img {
    border-radius: 12px;
    display: block;
  }
}
@media screen and (max-width: 320px) {
  .blog_item {
    .content {
      .blog_img {
        margin-right: 10px;
        width: 90px;
      }
    }
    .rewards_info {
      font-size: 93%;
      p {
        margin: 3px 0;
      }
    }
    .refer_friend {
      height: 30px;
      padding: 2px 20px;
    }
  }
}
.tabs_header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .tabs_tgl {
    align-items: center;
    background: #e9e9e9;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: $gray4b;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    margin: 0 5px;
    padding: 5px 20px;
    &.active {
      background: #fff;
    }
    &:focus {
      outline: none;
    }
  }
}
.tabs_wrapper {
  margin: 15px auto 10px;
  position: relative;
  transition: height 0.9s;
  .tabs_container.active {
    opacity: 1;
    transform: scale(1);
    transition: 0.9s;
    z-index: 9;
  }
  .tabs_container {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0.5);
    transition: 0.7s;
    width: 100%;
    z-index: 0;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: space-between;
  min-height: 100vh;
}
.sticky_more_info {
  align-items: center;
  background: #6ed3ee;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  font-size: 9px;
  height: 14px;
  justify-content: center;
  line-height: 0;
  margin: 0 auto;
  margin-top: -3px;
  vertical-align: middle;
  width: 14px;
}

.warning_msg {
  color: red;
  display: none;
  font-size: 11px;
  padding: 5px;
}


.text_error {
  margin-top: 10px;
  color: red;
  &.has-error {
    display: inline-block !important;
  }
  &:not(.has-error) {
    margin: 0;
  }
}

.link {
  color: $link;
  text-decoration: underline;
  font-weight: 700;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
