@font-face {
  font-family: "iCielSamsungSharpSans-Bold";
  src: url("https://cdn.samsung.com/etc/designs/smg/vn/font/SamsungSharpSans-Bold-UTF8.woff2")
      format("woff2"),
    url("https://cdn.samsung.com/etc/designs/smg/vn/font/SamsungSharpSans-Bold-UTF8.ttf")
      format("truetype"),
    url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot")
      format("eot"),
    url("https://cdn.samsung.com/etc/designs/smg/vn/font/SamsungSharpSans-Bold-UTF8.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SamsungOne";
  src: url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot");
  src: url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff2")
      format("woff2"),
    url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff")
      format("woff"),
    url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SamsungOne";
  src: url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot");
  src: url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff2")
      format("woff2"),
    url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff")
      format("woff"),
    url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SamsungOne";
  src: url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot");
  src: url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff2")
      format("woff2"),
    url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff")
      format("woff"),
    url("https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
