@import "variablesColor";

$path: "./../../assets";

$break-points: (
  "dk-1700px": 1700px,
  "dk-1400px": 1400px,
  "dk": 1100px,
  "md": 991px,
  "m": 768px,
  "x": 480px,
  "xs": 360px,
  "xxs": 325px,
);

$font-title: (
  "dks": 40px,
  "dk-1700px": 34px,
  "dk-1400px": 32px,
  "dk": 32px,
  "md": 34px,
  "m": 24px,
  "x": 20px,
  "xs": 16px,
);

$font-subtitle: (
  "dks": 36px,
  "dk-1700px": 34px,
  "dk-1400px": 28px,
  "dk": 20px,
  "md": 28px,
  "m": 20px,
  "x": 16px,
  "xs": 13px,
);

$font-description: (
  "dks": 24px,
  "dk-1700px": 20px,
  "dk-1400px": 20px,
  "dk": 14px,
  "md": 18px,
  "m": 18px,
  "x": 11.5px,
  "xs": 9px,
);

$h2: (
  "dks": 62px,
  "dk-1700px": 54px,
  "dk-1400px": 38px,
  "dk": 32px,
  "md": 60px,
  "m": 36px,
  "x": 36px,
  "xs": 32px,
  "xxs": 28px,
);
$h3: (
  "dks": 36px,
  "dk-1700px": 32px,
  "dk-1400px": 28px,
  "dk": 24px,
  "md": 35px,
  "m": 36px,
  "x": 26px,
  "xs": 22px,
  "xxs": 20px,
);

