$light-green: #00769b;

@mixin AlignItem($align, $justifyContent) {
  display: flex;
  align-items: $align;
  justify-content: $justifyContent;
}

#header {
  padding: 2% 6%;
  p {
    color: #000;
    margin: 0;
  }

  .container {
    display: flex;
    width: 100%;
    &-left {
      width: 40%;
      &-logo{
        .image-wrapper{
          width: 30%;
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
    &-right {
      width: 60%;
      a{
        width: 100%;
        span{
          @include AlignItem(center, flex-end);
          i{
            margin-left: 4%;
          }
        }
      }
      &-language {
        @include AlignItem(center, flex-end);
        width: 90%;
        margin: 0 auto 3% auto;
        a{
          color: $light-green;
        }
        .block {
          &-search {
          }
          &-language {
            margin-left: 10%;
            @include AlignItem(center, flex-end);
          }
        }
      }
      &-listmenu {
        width: 90%;
        margin: auto;
        ul {
          @include AlignItem(center, space-around);
          li {
            width: 100%;
            @include AlignItem(center, center);
            transition: 0.4s;
            a{
              color: #000;
              &:hover{
                i{
                  transform: rotate(180deg);
                }
              }
            }
            
          }
        }
      }
    }
  }
}
