@import "../../../../node_modules/swiper/dist/css/swiper.min.css";

#samsung {
  .images-libary,
  .thumbs-libary {
    color: #000000 !important;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
  }
  .thumbs-libary {
    flex-basis: 100px;
    margin-top: 10px;
    .swiper-slide {
      opacity: 0.6;
      pointer-events: none;
    }
    .swiper-slide-thumb-active,
    .swiper-slide-active {
      opacity: 1;
    }
  }
  .images-libary {
    margin-bottom: 10px;
    .swiper-button-next,
    .swiper-button-prev {
      background: url("//images.samsung.com/is/image/samsung/p5/vn/showcase/icon/slider-btn.png")
        50% / cover no-repeat;
      cursor: pointer;
      height: 80px;
      outline: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s;
      width: 80px;
      z-index: 1;
      @media (min-width: 600px) {
        height: 100px;
        width: 100px;
      }
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      left: 0;
      transform: translateY(-50%) rotate(180deg);
    }
    .w-100 {
      width: 100% !important;
    }
  }
  .btn_slide {
    border: 1px solid #4b4b4b;
    border-radius: 14px;
    color: #4b4b4b;
    font-size: 75%;
    height: 28px;
    padding: 3px 15px;
    position: absolute;
    right: 20px;
    top: calc(50% - 14px);
    outline: none;
  }
  .swiper-wrapper {
    img {
      display: flex;
    }
  }
  .swiper-pagination-bullets {
    bottom: 0;
    display: flex;
    height: 8px;
    justify-content: center;
  }
  .swiper-content {
    position: relative;
    &-text {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.swiper-pagination-bullet {
  height: 7px;
  width: 7px;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 2px;
  opacity: 1;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  background: #6ed3ee;
}
