.images-libary
  .swiper-wrapper
    .swiper-slide.full-vh
      .swiper-content
        .swiper-content-image
          img(data-is-firstload="true", src=(`../../../assets/images/E3bbIp5fVT.jpg`), alt="Samsung")
        .swiper-content-text
          button.btn_slide Learn More
    .swiper-slide.full-vh
      img(src=(`../../../assets/images/slider/slider-1.png`), alt="Samsung")
    .swiper-slide.full-vh
      img(src=(`../../../assets/images/slider/slider-1.png`), alt="Samsung")
  .swiper-pagination
