
@mixin AlignItem($alignItem, $justifyContent){
  display: flex;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

.contact{
  $blue: #00769D;
  $list-active-color: #00769d;
  width: 100%;
  padding: 0;
  &-header{
    padding: 2% 4%;
    box-sizing: border-box;
    margin: auto;
    background: $blue;
    @include AlignItem(center, space-between);
    &-logo{
      width: 50%;
      &-wrapper{
        width: 30%;
        @include AlignItem(center, center);
        img{
          width: 100%;
        }
      }
    }
    &-menu{
      width: 50%;
      ul{
        @include AlignItem(center, space-around);
        li{
          a{
            text-transform: capitalize;
            color: #fff;
          }
        }
      }
    }
  }

  &-information{
    width: 100%;
    padding: 2% 0;
    &-title{
      width: 95%;
      margin: auto;
      h4{
        text-transform: capitalize;
        color: #000;
      }
    }
    &-list{
      width: 100%;
      margin: 5% 0%;
      ul{
        @include AlignItem(center, space-around);
        li{
          a{
            color: #9c9c9c;
            font-weight: 700;
            span{
              text-transform: capitalize;
            }
            &:active{
              span{
                color: $list-active-color;
              }
            }
          }
        }
      }
    }
  }
}