$light-green: #00769b;

@mixin AlignItem($align, $justifyContent) {
  display: flex;
  align-items: $align;
  justify-content: $justifyContent;
}

#footer {
  padding: 2% 6%;
  p {
    color: #000;
    margin: 0;
  }

  .container {
    width : 100%;
    @include AlignItem(center, space-around);
    a{
      color: #000;
      font-weight: bold;
    }
    &-left{
      width: 100%;
      &-list{
        @include AlignItem(center, space-around);
      }
    }
    &-right{
      width: 100%;
      text-align: center;
    }
  }
}
