#footer
  .container 
    .container-left 
      ul.container-left-list 
        li 
          a(href="") Trách nhiệm 
        li 
          a(href="") Chính sách bảo mật 
        li 
          a(href="") Điều kiện điều khoản   
    .container-right
      .container-right-copyright
        p KKLIU 0566/2021
          br
          | Copyright ©2021 Gleneagles. All Rights Reserved.

      



