.homepageMS{
  width: 100%;
  &-slider{
    &-container{
      width: 75%;
      margin: auto;
    }
  }
  &-container{
    width: 50%;
    margin: auto;
    .description{
      text-align: center;
    }
  }
  .wrapper-container{
    width: 100%;
    top: 40%;
    h2{
      font-size: 21px;
    }
  }
  .swiper{
    &-container{
      width: 85%;
    }
    &-slide{
      img{
        height: 450px;
      }
    }
  }
}