section.homepageMS
  .homepageMS-container
    .title.--title 
      h2 quy trình & 
        br
        | chuyên đề y tế
    .description.--description 
      p Gleneagles luôn cố gắng mang đến cho bạn dịch vụ chăm sóc y tế tốt nhất, bao gồm nhiều chuyên khoa và thủ thuật y tế đa dạng và phong phú. Khám phá các dịch vụ y tế và lâm sàng mà chúng tôi có sẵn. Tim mạch Ung thư Phẫu thuật chỉnh hình & chấn thương Phẫu thuật tổng quát Khoa nhi Khoa tiêu hóa
