@import "../../../assets/scss/global/variables";
@import "../../../assets/scss/global/mixin";

$font-retailer: (
  "dks": 40px,
  "dk-1700px": 34px,
  "dk-1400px": 32px,
  "dk": 32px,
  "md": 34px,
  "m": 24px,
  "x": 20px,
  "xs": 16px,
);

.list-shop {
  padding-top: 20px;

  background: #f9f9f9;
  text-align: center;
  h2 {
    text-transform: capitalize;
    color: $black-100;
    font-size: map-get($font-retailer, "dks");
    @each $name, $glyph in $break-points {
      @media (max-width: $glyph) {
        font-size: map-get($font-retailer, $name);
      }
    }
  }
  ul {
    width: 70%;
    margin: 40px auto 30px;

    text-align: left;
    @media (max-width: 600px) {
      width: 90%;
    }
    li {
      width: 20%;
      margin-bottom: 20px;
      display: inline-block;

      transition: all 0.3s ease;
      img {
        width: 100%;
      }
      &:hover {
        transform: translateY(-5px);
      }
      @media (max-width: 992px) {
        width: 50%;
      }
      @media (max-width: 600px) {
        margin-bottom: 0;
      }
    }
  }
}
