section.list-shop
  h2 
    | Mua ngay 
    br.hide-md 
    | Tại các cửa hàng
  ul.retailers-list
  template#tmpRetailer(style={display: 'none'})
    li.item.inline
      a.store(href="#", target="_blank", data-omni-type="microsite_buyOnline", data-omni="", onClick="onClick_MediaTags();",)
        img.simg(src="", alt="SAMSUNG VN" loading="lazy")