.faq_content {
  color: #4b4b4b;
  letter-spacing: 0.2px;
  width: 92%;
  .row {
    margin: 0 0;
    &:nth-child(2n - 1) {
      dt {
        background: #e3e3e3;
      }
    }
    &:nth-child(2n) {
      dt {
        background: #ededed;
      }
    }
  }
  h3 {
    margin-bottom: 15px;
  }
  dl {
    margin: 0;
  }
  dt {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 45px;
    padding: 5px 50px 5px 15px;
    position: relative;
    text-align: left;
    &:before,
    &:after {
      border-top: 1px solid #4b4b4b;
      content: "";
      position: absolute;
      right: 16px;
      top: calc(50% - 0.5px);
      transform: rotate(45deg);
      transition: 0.4s;
      width: 12px;
    }
    &:after {
      right: 24px;
      transform: rotate(-45deg);
    }
    &.active {
      &:before {
        transform: rotate(135deg);
        transition: 0.4s;
      }
      &:after {
        transform: rotate(-135deg);
        transition: 0.4s;
      }
    }
  }
  dd {
    background: #fff;
    display: none;
    margin-left: 0;
    padding: 18px 15px;
    text-align: left;
    p {
      margin: 2px auto 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .faq_content {
    letter-spacing: normal;
    width: 94%;
    dt {
      height: 40px;
      padding: 5px 10px;
      &:before,
      &:after {
        width: 10px;
      }
      &:after {
        right: 23px;
      }
    }
    dd {
      padding: 15px 10px;
      p {
        margin: 2px auto 10px;
      }
    }
  }
}
