include ../../../components/Swiper/index.pug
.section-swiper-slide  
  +slide('homepage-swiper', [
    {
      title: "every minutes count",
      subtitle: "Provide you Accident & Amergency Service close to home"
    },
    {
      title: "every minutes count",
      subtitle: "Provide you Accident & Amergency Service close to home"
    },
  ])