$blue: #3d64c1 ;
$hoverblue: #31509a;

.custom-button{
  width: 180px;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  background: $blue;
  display: block;
  margin: auto;
  text-align: center;
  &.nobg{
    background: transparent;
    color: $blue;
    margin-left: 0;

    &:hover{
      color: $hoverblue;
      background: transparent;
    }
  }
  &:hover{
    background: $hoverblue;
  }
  //* if left margin-right = 0 || if right margin-left = 0
  span{
    text-transform: capitalize;
    font-weight: bold;
  }
  i{
    margin-left: 5%;
  }
}