$lightgreen: #107da3;

section{
  padding: 5% 0;
}
.--title{
  width: 100%;
  text-align: center;
  padding: 5% 0;
  h2, h3{
     color: $lightgreen;
     text-transform: uppercase;
  }
}

.bg-grey{
  background: #f3f8fd;
}

.bg-white{
  background: #fff;
}
.--description{

}