#homepage
  include ../header/index.pug
  .homepage-container
    include ./homepageSlider/index.pug
    include ./homepageMS/index.pug
    include ./homepageMAZ/index.pug
    include ./homepagePromotion/index.pug
    include ./homepageContact/index.pug
  include ../footer/index.pug