* {
  box-sizing: border-box;
}

.popup-msg__modal {
  align-items: center;
  background: rgba(#333, 0.5);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 0px;
  justify-content: center;
  left: 0;
  position: fixed;
  transition: 0.4s;
  width: 100%;
  z-index: 9999999999999999;
  &-container {
    background: #fff;
    border-radius: 10px;
    display: flex;
    max-width: 1024px;
    opacity: 0;
    overflow: hidden;
    padding: 35px 20px;
    pointer-events: none;
    transform: translateY(100px) scale(0.4);
    transition-duration: 0.3s;
    width: 100%;
  }

  &-title {
    color: #000;
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    @media (max-width: 480px) {
      font-size: 17px;
      width: 100%;
    }
    @media (max-width: 320px) {
      font-size: 15px;
      width: 100%;
    }
  }

  &-desc {
    color: #000;
    margin: 20px 10px 30px;
    text-align: center;
    @media (max-width: 460px) {
      font-size: 14px !important;
    }
    @media (max-width: 380px) {
      font-size: 12px !important;
      margin-bottom: 20px;
    }
    @media (max-width: 320px) {
      font-size: 11px !important;
    }
  }
  &-left {
    background: #fff;
    flex: 1.5;
    opacity: 0;
    transform: translateY(80px);
    transition-duration: 0.5s;
  }

  &-button {
    background: rgb(255, 255, 255);
    border: 0;
    border-radius: 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
    color: darken(#8c7569, 5%);
    cursor: pointer;
    font-size: 18px;
    outline: 0;
    padding: 10px 40px;
    transition: 0.3s;
    &:hover {
      background: rgba(#fff, 0.8);
      border-color: rgba(255, 255, 255, 0.2);
    }
  }

  &-right {
    flex: 2;
    font-size: 0;
    overflow: hidden;
    transition: 0.3s;
    img {
      height: 100%;
      object-fit: cover;
      transform: scale(2);
      transition-duration: 1.2s;
      width: 100%;
    }
  }

  &.is-open {
    background: rgba(#333, 0.85);
    height: 100%;
    .popup-msg__modal-container {
      max-height: 80vh;
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0) scale(1);
      transition-duration: 0.6s;
    }

    .popup-msg__modal-right img {
      transform: scale(1);
    }

    .popup-msg__modal-left {
      opacity: 1;
      overflow-y: auto;
      padding-top: 2%;
      transform: translateY(0);
      transition-delay: 0.1s;
      @media (max-width: 480px) {
        overflow-y: scroll;
      }
    }
  }
  &-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    a {
      color: rgba(#333, 0.6);
      font-size: 14px;
    }
  }
}

.input-button {
  background: #8c7569;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 8px 12px;
  transition: 0.3s;
  &:hover {
    background: #55311c;
  }
}

.icon-button {
  background: 0;
  border: 0;
  cursor: pointer;
  height: 32px;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
}

@media (max-width: 750px) {
  .popup-msg__modal-container {
    padding: 35px 10px;
    width: 90%;
  }
  .popup-msg__modal-right {
    display: none;
  }
}
