.popup-msg__modal
  .popup-msg__modal-container
    .popup-msg__modal-left
      h2.popup-msg__modal-title Save up to 55 % with<br/>these stay-home<br/>entertainment deals
      p.popup-msg__modal-desc Valid from May 09. 2020 to Jun 01. 2020
      a(class="refer_friend" href="#") Click here to find out more
    button.icon-button.close-button
      svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='13 13 28 28')
        path(opacity='.6' fill='%23666E6E' d='M35.6 34.4L28 26.8l7.6-7.6c.2-.2.2-.5 0-.7l-.5-.5c-.2-.2-.5-.2-.7 0l-7.6 7.6-7.5-7.6c-.2-.2-.5-.2-.7 0l-.6.6c-.2.2-.2.5 0 .7l7.6 7.6-7.6 7.5c-.2.2-.2.5 0 .7l.5.5c.2.2.5.2.7 0l7.6-7.6 7.6 7.6c.2.2.5.2.7 0l.5-.5c.2-.2.2-.5 0-.7z')

      